body {
  background: black;
}
body #container {
  width: 70%;
  background: lightblue;
  border: 1px lightskyblue solid;
  border-radius: 10px;
  margin: auto;
  padding: 15px;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
body #container .poly-in {
  background: #adc6e6;
  border: #87abfa 2px solid;
}
body #container .poly-in:focus {
  border: #00327c 2px solid;
}
body #container .parser-text {
  background: #adc6e6;
  border: #87abfa 2px solid;
  width: 95%;
  max-width: 99%;
  min-height: 250px;
  margin: auto;
  box-sizing: border-box;
}
body #container .parser-text:focus {
  border: #00327c 2px solid;
}
body #container div#divOut {
  text-align: left;
}
body #container #symbol1 {
  cursor: pointer;
  text-decoration: gray underline;
}
body #container ::selection {
  background: red;
}
body #container #plot1 {
  background: white;
  width: 500px;
  height: 500px;
}
body #container blockquote {
  outline: 1px solid #739ffd;
  font-style: oblique;
}
body #container q {
  font-style: oblique;
}
body #container table {
  border-collapse: collapse;
}
body #container table td,
body #container table th {
  border: 1px black solid;
  width: 200px;
  height: 30px;
}
