body {
  background: black;
}
body #container {
  width: 70%;
  background: lightblue;
  border: 1px lightskyblue solid;
  border-radius: 10px;
  margin: auto;
  padding: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
body #container .poly-in {
  background: #adc6e6;
  border: #87abfa 2px solid;
}
body #container .poly-in:focus {
  border: #00327c 2px solid;
}
body #container #symbol1 {
  cursor: pointer;
  text-decoration: gray underline;
}
body #container ::selection {
  background: red;
}
body #container #plot1 {
  background: white;
  width: 500px;
  height: 500px;
}
